header{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 24px;

  position:sticky;
  top:0;
  z-index:999;

  background:rgba(255,255,255,0.92);

  backdrop-filter:blur(10px);

  border-bottom:1px solid #eee;
}

.logo-link{
  display:flex;
  align-items:center;
}

.logo{
  height:58px;
  width:auto;
  object-fit:contain;

  transition:0.25s ease;
  cursor:pointer;
}

.logo:hover{
  transform:scale(1.04);
}

footer{
  margin-top:80px;
  padding:40px 20px;
  text-align:center;
  border-top:1px solid #eee;
  color:#777;
  font-size:14px;
}

.section{
  padding:60px 0;
}

.section-title{
  font-size:42px;
  margin-bottom:30px;
}

@media(max-width:768px){

  header{
    padding:16px 18px;
  }

  .logo{
    height:42px;
    transform:scale(2.1);
  }

  .section-title{
    font-size:32px;
  }

}
