body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.images img,
.video video {
    max-width: 45%;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.checkout {
    margin: 20px;
}

.checkout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007aff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #005bb5;
}